*
{
    position: relative;
}

.background
{
    width: 1600px;
    object-fit: cover;
    height:100vh;
    width:auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh; 
}

.text
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text2
{
    margin-top: 55px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vision
{
    color:white;
    font-family: poppins;
    font-size: 40px;
  
}

/* for cara second slide */
.vision3
{
    color:white;
    font-family: poppins;
    font-size: 30px;
    font-weight: bold;
  
}
.vision2
{
  
    margin-top: 0;
    color:white;
    font-family: poppins;
    font-size: 40px;
    font-weight: bold;
}
.attitude
{

    width: 598px;
    height: 55.1px;
    font-family: Poppins;
    font-size: 16.2px;
    color:white;
}
/* for second slide */
.attitude2
{
    margin-top:20px;
    width: 598px;
    height: 55.1px;
    font-family: Poppins;
    font-size: 16.2px;
    color:white;
}
.btn
{
    padding: 8px 22px;
}
.Second
{
    padding-top:20px;
    background-color: #3d87f1;
}
.device
{
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh; 
}

.deviceword
{
    color: white;
    font-family: Poppins;
}
.devicepara
{
    margin-top:15px;
    color:white;
}
.feature
{
    padding:100px 0;
    text-align: center;
}
.feature h3{
    font-family: poppins;
  font-size: 34px;
  font-weight: 600;
}
.featurepara{
    color: #8589a5;
    font-size: 18px;
  font-weight: normal;
}
.cards
{
    display: flex;
    margin-left: 55px;
}
.B1
{
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 8.4px 0 17.7px;
  font-family: ProximaNova;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.23;
  letter-spacing: -0.41px;
  text-align: center;
  color: #212121;
 
}

.B2
{
  display: flex;
  justify-content: center;
  height: 19px;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #333;
}

.Box
{
      width: 260px;
	  height: 300px;
	  margin: 50px 33px 0 0;
	  padding: 27px 20px 103px;
	  border-radius: 4px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	background-color: #f3f8ff;;
}

.boximg .img{
    width: 68px;
  height: 74px;
}

.third
{
    background-color: #3d87f1;
    padding:40px 0;
}
.thirdpara
{
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.24;
  color: white;
}
.thirdbtn
{
    margin:50px 0;
}

.firstbtn
{
    width:220px;
    border:none;
    border:solid 1px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 18px;
    margin-right: 8px;
}
.secondbtn
{
    width:220px;
    border:none;
    background: white;
    font-size: 18px;
}
.secondbtn:hover
{
    border:none;
    border:solid 1px white;
    background:#3d87f1;
    font-size: 18px;
    color:white;

}
.firstbtn:hover {
    background:black;
    color:white; 
}
.footer
{
    background-color: #132638;
}
.prefooter
{

    padding:60px 55px 20px 55px  ;
    
}
.footimg
{
    width: 137px;
    height: 26px;
    margin: 10px 105px 39px 1px;
    object-fit: contain;
    float: left;
    position: relative;
    margin: 10px 15px 15px 10px;
}
.phoneimg
{

    width: 143px;
    height: 45px;
    object-fit: contain;

}

.phonelogo
{
    display: flex;
    justify-content: flex-end;
}
.part
{
    margin-left: 5px;
}
/* line */
.li1
{
    height: 1px;
    margin: 30px 0;
    opacity: 0.3;
    border: solid 1px #435869;
}
.headingoption
{
    margin-bottom: 15px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.06;
    letter-spacing: normal;
    color: white;
}
.options
{
    display: flex;
    justify-content: space-between;
    padding:0 80px;
}
.one li{
    color:grey;
    padding:5px;
}
.social1
{
    padding-top: 15px;
    display: flex;
}
.social
{
  
    display: flex;
}
.Facebook {
    width: 74px;
    height: 12px;
    margin: 9px 0 24px 0;
    font-family: Poppins;
    font-size: 15px;
    line-height: 0.8;
    color: #8695a0;
  }
.socialimg
{
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    object-fit: contain;
}
.copywrite
{
    text-align: center;
    padding-bottom: 30px;
}
.copypara
{
    width: 227px;
    height: 15px;
    font-family: Poppins;
    font-size: 12px;
    line-height: 1.25;
    color: #8695a0;
  
}
@media screen and (max-width: 776px) {
  
    .cards {
      flex:100%;
      flex-wrap: wrap;
      justify-content: center;
    }
    .Box
    {
      width:100%;
    }
    .options
    {
        flex:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .one
    {
        width:50%;
    }
    .prefooter
    {
        display: flex;
        flex: 100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .part
    {
        width:50%;
    }
    .thirdbtn
    {
        display: flex;
        justify-content: center;
        flex:100%;
        flex-wrap: wrap;
    }
    .attitude2
    {
        margin:0 10px;
    }
    .vision
    {
       font-size: 30px;
    }
    .vision2
    {
        font-weight: bold;
        font-size: 28px;
    }
    .attitude
    {
        padding:0 10px;
    }
}

@media screen and (max-width: 1020px) 
{
    /* background 1 text(vision1 and vision2) */
    .vision
    {
        font-size: 28px;
    }
    .vision2
    {
        font-size: 28px;
    }
    .cards {
        /* flex:100%; */
        flex-wrap: wrap;
        justify-content: center;
    }
    .options
    {
        flex:100%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .one
    {
        width:50%;
    }
    .device
    {
        background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    }
}